.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-weight: normal;
}

#cast {
  color: forestgreen;
  font-weight: bolder;
}

.google-map {
  width: 800px;
  height: 400px;
}

.pin {
  font-size: 1.5rem;
  color: rgb(18, 72, 18);
  
}

.pin-hover {
  cursor: pointer;
}

select:hover {
  cursor: pointer;
}

.photo-info {
  width: 75%;
  height: 66%;
  background-color: white;
  z-index: 2;
  margin: 0 auto;
  margin-top: 10%;
}

.modal-background {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.photo:hover {
  cursor: pointer;
}

.photos-container {
  height: 180px;
  width: 80%;
  display: flex;
  gap: 10px;
  overflow-x: auto;
  overflow-y: hidden;
}

.close-icon {
  float:right;
  margin: 10px;
}

.close-icon:hover {
  cursor: pointer;
}

.info-header {
  align-items: center;
}

.home-before {
  text-align: center;
  margin: 0 auto;
  color: white
}

.home-link-div {
  position: absolute;
  top: 31%;
  left: 60%;
}

.home-link:visited {
  color: white;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-size: 20px;
  margin-bottom: 12px;
}

.color {
  height: 20px;
  width: 20px;
}

.key {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.subkey {
  display: flex;
  flex-direction: row;
  gap: 10px;
}