.App {
  text-align: center;
}

.google-map {
  width: 800px;
  height: 400px;
}

.pin {
  font-size: 1.5rem;
  color: red;
}

/* .pin-hover {
  height: 90px;
  background-color: red;
  border: solid red 5px;
  line-height: 90px;
  align-items:center;
  justify-content: center;
} */

.pin:hover {
  cursor: pointer;
}

.photo-info {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 75%;
  background-color: white;
  z-index: 2;
}

.modal-background {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.photo:hover {
  cursor: pointer;
}

.photos-container {
  height: 180px;
  width: 80%;
  display: flex;
  gap: 10px;
  overflow-x: auto;
  overflow-y: hidden;
}

